*{
    margin: 0;
    padding: 0;
}
img{
    border-radius: 50%;
}
h1 {
    text-align: center;
}

div {
    background-color: white;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20% 0%;
}

body {
    background-color: rgb(112, 40, 245);
    display: grid;
}

nav {
    width: 100%;
    height: 70px;
    background-color: rgb(29, 202, 57);
}

    li {
        display: inline-block;
        color: pink;
        padding: 1.8%;
    }
    a{
        text-decoration: none;
    }
    footer{
        background-color: aqua;
        text-align: center;
        align-self: baseline;
    }
    #footer{
        font-family: "baloo bhai 2", cursive;
    }
    h1{
        font-family: "baloo bhai 2", cursive;
    }